<footer
  class="text-center text-white fixed-bottom"
  style="background-color: #21081a"
>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Powered by
    <a href="https://nobelti.cl/" style="color: #dcb226">Nobel TI</a>
  </div>
  <!-- Copyright -->
</footer>
