<div *ngIf="rol == 'admin' || rol == 'demo'; else loggedOut">
  <hr />
  <div *ngIf="rol == 'admin'">
    <app-navbar></app-navbar>
  </div>
  <div *ngIf="rol == 'demo'">
    <app-navbar-user></app-navbar-user>
  </div>
  <!------------------------------------->

  <div class="container-fluid">
    <div class="input-group">
      <select
        class="form-select"
        id="inputGroupSelect04"
        aria-label="Example select with button addon"
        (change)="onChangeEmpresaBuscar($event)"
      >
        <option selected>Todos</option>
        <option
          *ngFor="let emp of empresas"
          id="{{ emp.idEmpresa }}"
          value="{{ emp.idEmpresa }}"
        >
          {{ emp.nombreEmpresa }}
        </option>
      </select>
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="filterUsers()"
      >
        Buscar Empresa
      </button>
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="cleanForm();openSM(create);"
      >
        Crear Usuario
      </button>
    </div>

    <div class="col-md-12">
      <table class="table" id="table_request">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Empresa</th>
            <th scope="col">Rol</th>
            <th scope="col">Usuario</th>
            <th scope="col">Email</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{ user.idUsuario }}</th>
            <td>{{ user.idEmpresa }}</td>
            <td>{{ user.idRol }}</td>
            <td>{{ user.usuario }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.nombre }}</td>
            <td>{{ user.apellido }}</td>
            <td>{{user.idEstado}}</td>
            <td>
              <button
                type="button"
                class="btn btn-warning"
                (click)="
                  openSM(edit);
                  getDetalleUser(user.idUsuario);
                  getId(user.idUsuario);
                  resetCmb();
                "
              >
                <fa-icon [icon]="faUserPen"></fa-icon>
              </button>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-danger"
                (click)="confirmDelete(user.idUsuario)"
              >
                <fa-icon [icon]="faUserXmark"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--Modales-->

  <ng-template #edit let-modal class="modal-dialog modal-sm">
    <div class="modal-header">
      <h5 class="modal-title">Editar Usuario</h5>
      <button
        class="close"
        aria-label="close"
        type="button"
        (click)="modal.dismiss()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formUser" id="formUser" class="margin-headers">
        <div class="form-group row">
          <div class="col-12">
            <label for="nomUser">Nombre Usuario</label>
            <input
              formControlName="nomUser"
              type="text"
              class="form-control"
              id="nomUser"
              value="{{ detalleUser.usuario }}"
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <label for="pwd">Password</label>
            <input
              type="password"
              class="form-control"
              name="pwd"
              formControlName="pwd"
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              value="{{ detalleUser.email }}"
              formControlName="email"
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <label for="name">Nombre</label>
            <input
              type="text"
              class="form-control"
              name="name"
              value="{{ detalleUser.nombre }}"
              formControlName="nombre"
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <label for="apellido">Apellido</label>
            <input
              type="text"
              class="form-control"
              name="apellido"
              value="{{ detalleUser.apellido }}"
              formControlName="apellido"
            />
          </div>
        </div>
        <div class="form-group row">

          <div class="form-group row">
            <div class="col-12">
              <label for="empDdl">Empresa</label>
              <select
                class="form-select"
                id="empresaslist"
                aria-label="Example select with button addon"
                name="empDdl"
                (change)="onChangeEmpresaEdit($event)"
                value="{{ empresaSelectedEdit }}"
              >
                <option
                  *ngFor="let emp of empresas"
                  id="{{ emp.idEmpresa }}"
                  value="{{ emp.idEmpresa }}"
                >
                  {{ emp.nombreEmpresa }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <label for="rolDdl">Rol</label>
            <select
              class="form-select"
              id="inputGroupSelect04"
              aria-label="Example select with button addon"
              name="rolDdl"
              (change)="onChangeRolEdit($event)"
              value="{{ rolSelectedEdit }}"
            >
              <br />
              <option
                *ngFor="let rol of roles"
                id="{{ rol.idRol }}"
                value="{{ rol.idRol }}"
              >
                {{ rol.nombreRol }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <label for="estadoDdl">Estado</label>
            <select
              class="form-select"
              id="inputGroupSelect04"
              aria-label="Example select with button addon"
              name="estadoDdl"
              (change)="onChangeEstadoEdit($event)"
              value="{{ estadoEdit }}"
            >
              <br />
              <option
                *ngFor="let est of estadoUser"
                id="{{ est.idEstado }}"
                value="{{ est.idEstado }}"
              >
                {{ est.descripcion }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-8">
            <button
              type="button"
              class="btn btn-success"
              (click)="updateUser(); modal.dismiss();"
            >
              Editar Usuario
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <form class="foot"></form>
    </div>
  </ng-template>

  <ng-template #create let-modal class="modal-dialog modal-sm">
    <div class="modal-header">
      <h5 class="modal-title">Crear Usuario</h5>
      <button
        class="close"
        aria-label="close"
        type="button"
        (click)="modal.dismiss()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form
        [formGroup]="formCreateUser"
        id="formCreateUser"
        class="margin-headers"
        name="myForm"
      >
        <div class="form-group row">
          <div class="col-6">
            <label for="nomUser">Usuario</label>
            <input
              formControlName="nomUser"
              type="text"
              class="form-control"
              id="nomUser"
              
            />
          </div>
          <div class="col-6">
            <label for="pwd">Password</label>
            <input
              type="password"
              class="form-control"
              name="pwd"
              formControlName="pwd"
              
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-6">
            <label for="name">Nombre</label>
            <input
              type="text"
              class="form-control"
              name="name"
              formControlName="nombre"
              
            />
          </div>
          
          <div class="col-6">
            <label for="apellido">Apellido</label>
            <input
              type="text"
              class="form-control"
              name="apellido"
              formControlName="apellido"
              
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              formControlName="email"
              
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <label for="empDdl">Empresa</label>
            <select
              class="form-select"
              id="empresaslist"
              aria-label="Example select with button addon"
              name="empDdl"
              (change)="onChangeEmpresaCreate($event)"
              value="{{ empresaSelectedCreate }}"
            >
              <option
                *ngFor="let emp of empresas"
                id="{{ emp.idEmpresa }}"
                value="{{ emp.idEmpresa }}"
              >
                {{ emp.nombreEmpresa }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <label for="rolDdl">Rol</label>
            <select
              class="form-select"
              id="inputGroupSelect04"
              aria-label="Example select with button addon"
              name="rolDdl"
              (change)="onChangeRolCreate($event)"
              value="{{ rolSelectedCreate }}"
            >
              <br />
              <option
                *ngFor="let rol of roles"
                id="{{ rol.idRol }}"
                value="{{ rol.idRol }}"
              >
                {{ rol.nombreRol }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <label for="estadoDdl">Estado</label>
            <select
              class="form-select"
              id="inputGroupSelect04"
              aria-label="Example select with button addon"
              name="estadoDdl"
              (change)="onChangeEstadoCreate($event)"
              value="{{ estadoCreate }}"
            >
              <br />
              <option
                *ngFor="let est of estadoUser"
                id="{{ est.idEstado }}"
                value="{{ est.idEstado }}"
              >
                {{ est.descripcion }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-8">
            <button
              type="button"
              class="btn btn-success"
              (click)="validateCreateForm(); createUser(); modal.dismiss();"
              
            >
              Crear Usuario
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <form class="foot"></form>
    </div>
  </ng-template>

  <!------------------------------------->
</div>
<ng-template #loggedOut>
  <app-error404></app-error404>
</ng-template>
