<div *ngIf="rol == 'admin' || rol == 'demo'; else loggedOut">
    <hr />
    <div *ngIf="rol == 'admin'">
      <app-navbar></app-navbar>
    </div>
    <div *ngIf="rol == 'demo'">
      <app-navbar-user></app-navbar-user>
    </div>
    <!------------------------------------->
    <div class="container">
      <ng-container>
        <div class="row">
          <div class="col-md-12">
            <h2 class="title">Últimas Solicitudes Recibidas</h2>
            <br />
          </div>
        </div>
  
        <form [formGroup]="formFilter" id="formFilters">
          <div class="form-group row">
            <div class="col">
              <label for="proyecto">Proyecto</label>
              <input class="form-control" list="projects" name="projects" (change)="onChangeProj($event)"
                value="{{ projectSelected }}" />
              <datalist id="projects">
                <option *ngFor="let proj of projects" id="{{ proj.idProyecto }}" value="{{ proj.idProyecto }}">
                  {{ proj.nombreProyecto }}
                </option>
              </datalist>
            </div>
  
            <div class="col">
              <label for="operacion">Operaciones</label>
              <input class="form-control" list="operacion" name="operacion" value="{{ operSelected }}"
                (change)="onChangeOper($event)" [disabled]="disableOperations ? true : false" />
              <datalist id="operacion">
                <option *ngFor="let oper of operations" id="{{ oper.idOperacion }}" value="{{ oper.idOperacion }}">
                  {{ oper.nombreOperacion }}
                </option>
              </datalist>
            </div>
            <div class="col">
              <label for="inputKey">Key</label>
              <input type="text" class="form-control" id="inputKey" formControlName="key" />
            </div>
          </div>
  
          <br />
  
          <div class="form-group row">
            <div class="col">
              <label for="inputRequest">Request</label>
              <input type="text" class="form-control" id="inputRequest" formControlName="request" />
            </div>
  
  
            <div class="col">
              <label for="inputResponse">Response</label>
              <input type="text" class="form-control" id="inputResponse" formControlName="response" />
            </div>
            <div class="col">
              <label for="fechalist">Fecha</label>
              <select class="browser-default custom-select" id="operador_fechas" (change)="onChangeDateSelector($event)">
                <option value="0" [selected]="operFecha">
                  Seleccione una opción
                </option>
                <option value="1" [selected]="operFecha1">Fecha</option>
                <option value="2" [selected]="operFecha2">Fecha Desde</option>
              </select>
            </div>
            <div *ngIf="fechaNormal" class="col">
              <label for="inputFecha">Fecha</label>
              <input type="date" class="form-control" formControlName="fecha" id="inputFecha" />
            </div>
            <div *ngIf="fechaDesde" class="col">
              <label for="inputFecha">Fecha Desde</label>
              <input type="date" class="form-control" formControlName="fechaDesde" id="inputFecha" />
            </div>
            <div class="form-group row">
              <div class="col text-end">
                <br />
                <button type="button" class="btn btn-primary" (click)="filter()">
                  Buscar</button>&nbsp;
                <button type="button" class="btn btn-primary" (click)="clear()">
                  Limpiar</button>&nbsp;
                <button type="button" class="btn btn-success" (click)="exportTableToExcel()">
                  Exportar <fa-icon [icon]="faFileExcel"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </form>
        <br />
  
        <div class="row">
          <div id="div1">
            <div class=" col-md-12">
              <table class="table" id="table_request">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Key</th>
                    <th scope="col">Integración</th>
                    <th scope="col">Operación</th>
                    <th scope="col">Creación</th>
                    <th scope="col">IP Cliente</th>
                    <th scope="col">Respuesta</th>
                    <th scope="col">Tiempo</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let solicitud of solicitudes" (click)="getDetalleRequest(solicitud.idRegistro)">
                    <th scope="row">{{ solicitud.idRegistro }}</th>
                    <td>{{ solicitud.key }}</td>
                    <td>{{ solicitud.nombreIntegracion }}</td>
                    <td>{{ solicitud.idOperacion }}</td>
                    <td>{{ solicitud.fechaCreacion }}</td>
                    <td>{{ solicitud.ipCliente }}</td>
                    <td>{{ solicitud.httpCode }}</td>
                    <td>{{ solicitud.responseTime }} ms</td>
                    <td>
                      <button class="btn btn-primary accion-btn tablebutton" (click)="openSM(contenido)">
                        <fa-icon [icon]="faMagnifyingGlassPlus"></fa-icon>
                      </button>
                      <button (click)="getPdf(solicitud.idRegistro)" [disabled]="disableButtonPdf ? true : false"
                        class="btn btn-danger accion-btn tablebutton">
                        <fa-icon [icon]="faFilePdf"></fa-icon>
                      </button>
                      <button class="btn btn-success accion-btn tablebutton"
                        (click)="openSM(correo); getEmails(); getId(solicitud.idRegistro);">
                        <fa-icon [icon]="faEnvelope"></fa-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <br />
    <!--Modales-->
  
    <ng-template #correo let-modal class="modal-lg">
      <div class="modal-header">
        <h5 class="modal-title">Enviar correo</h5>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="margin-headers" [formGroup]="form" (ngSubmit)="submitForm()">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let email of emails">{{email.email}}
              <label class="checkbox">
                <input type="checkbox" [value]="email.email" (change)="onCheckboxChange($event)" />
                <span class="default"></span>
              </label>
            </li>
          </ul>
        </form>
      </div>
      <div class="modal-footer">
        <form class="foot">
          <div class="form-group row">
            <div class="col-12">
              <button type="submit" class="btn btn-success" (click)="submitForm(); modal.dismiss()">
                Enviar
              </button>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
  
    <ng-template #contenido let-modal class="modal-lg" id="#modal-detalle">
      <div class="exports">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ detalleProyecto.nombreProyecto }}
            {{ detalleOperacion.nombreOperacion }}
          </h5>
          <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <div class="col">
                <form class="margin-headers">
                  <div class="form-group row">
                    <div class="col-2">
                      <h5>Input</h5>
                    </div>
                  </div>
                </form>
                <form class="margin-headers">
                  <div class="form-group row">
                    <div class="col-2 hr-txt">
                      <input type="text" class="form-control" value="Inicio" disabled />
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" value="{{ detalleSolicitud.horaStart }}" disabled />
                    </div>
                    <div class="col-2 hr-txt">
                      <input type="text" class="form-control" value="Url" disabled />
                    </div>
                    <div class="col-6">
                      <input type="text" class="form-control" value="{{ detalleSolicitud.uriIn }}" />
                    </div>
                  </div>
                </form>
                <textarea id="input" class="text-area-margin" rows="20" cols="60">
              {{ detalleSolicitudInput }}
            </textarea>
              </div>
              <div class="col">
                <form class="margin-headers">
                  <div class="form-group row">
                    <div class="col-2">
                      <h5>Output</h5>
                    </div>
                  </div>
                </form>
                <form class="margin-headers">
                  <div class="form-group row">
                    <div class="col-2 hr-txt">
                      <input type="text" class="form-control" value="Fin" disabled />
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" value="{{ detalleSolicitud.horaEnd }}" disabled />
                    </div>
                    <div class="col-2 hr-txt">
                      <input type="text" class="form-control" value="Url" disabled />
                    </div>
                    <div class="col-6">
                      <input type="text" class="form-control" value="{{ detalleSolicitud.uriOut }}" />
                    </div>
                  </div>
                </form>
                <textarea id="output" class="text-area-margin" rows="20" cols="60">
              {{ detalleSolicitudOutput }}
            </textarea>
              </div>
            </div>
          </form>
          <form class="foot">
            <div class="form-group row">
              <div class="col">
                <h5>Status: {{ detalleSolicitud.httpCode }}</h5>
              </div>
              <div class="col-6">
                <h5>Fecha peticion: {{ detalleSolicitud.fechaCreacion }}</h5>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <form class="foot">
          <div class="form-group row">
            <!-- *ngIf="faultValid" -->
            <div class="col-12" *ngIf="faultValid; else invalidFault">
              <h5>Fault: </h5>
              <textarea id="output" class="text-area-margin" rows="15" cols="60">
                {{ detalleSolicitudFault }}
              </textarea>
            </div>
            <ng-template #invalidFault>
              <div class="col-6">
                <h5>Fault: No existe Fault</h5>
              </div>
            </ng-template>
          </div>
          <div class="form-group row">
            <div class="col-10"></div>
            <div class="col-2">
              <button type="button" class="btn btn-success" (click)="modal.dismiss()">
                Cerrar
              </button>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
    <!------------------------------------->
  </div>
  <ng-template #loggedOut>
    <app-error404></app-error404>
  </ng-template>