.accion-btn {
    margin-right: 1vh;
  }
  
  .tablebutton {
    width: 40px;
    text-align: center;
  }
  
  .text-area-margin {
    margin-right: 0vh;
    margin-left: 0vh;
  }
  
  .margin-headers {
    margin-bottom: 2vh;
  }
  .hr-txt {
    margin-right: -20px;
  }
  .foot {
    width: 100% !important;
  }
  
  .title{
    text-align: left; 
  font-family: Arial Black; 
  font-weight: bold; font-size: 40px; 
  background: #131313; 
  -webkit-background-clip: text; 
  -moz-background-clip: text; 
  background-clip: text; 
  color: transparent; 
  text-align: center;
  }
  
  thead {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  table{
    width: 1050px;
    height: auto;
  }
  
  #div1 {
    position: sticky;
    overflow: scroll;
    height: 450px;
    width: 1100px;
  }
  
  #input {
    overflow: scroll;
  }
  
  #output {
    overflow: scroll;
  }
  
  @keyframes check {0% {height: 0;width: 0;}
  25% {height: 0;width: 10px;}
  50% {height: 20px;width: 10px;}
  }
  .checkbox{background-color:#fff;display:inline-block;height:28px;margin:0 .25em;width:28px;border-radius:4px;border:1px solid #ccc;
    float:right}
  .checkbox span{display:block;height:28px;position:relative;width:28px;padding:0}
  .checkbox span:after{-moz-transform:scaleX(-1) rotate(135deg);-ms-transform:scaleX(-1) rotate(135deg);-webkit-transform:scaleX(-1) rotate(135deg);transform:scaleX(-1) rotate(135deg);-moz-transform-origin:left top;-ms-transform-origin:left top;-webkit-transform-origin:left top;transform-origin:left top;border-right:4px solid #fff;border-top:4px solid #fff;content:'';display:block;height:20px;left:3px;position:absolute;top:15px;width:10px}
  .checkbox span:hover:after{border-color:#999}
  .checkbox input{display:none}
  .checkbox input:checked + span:after{-webkit-animation:check .8s;-moz-animation:check .8s;-o-animation:check .8s;animation:check .8s;border-color:#555}
  .checkbox input:checked + .default:after{border-color:#444}
  .checkbox input:checked + .primary:after{border-color:#2196F3}
  .checkbox input:checked + .success:after{border-color:#8bc34a}
  .checkbox input:checked + .info:after{border-color:#3de0f5}
  .checkbox input:checked + .warning:after{border-color:#FFC107}
  .checkbox input:checked + .danger:after{border-color:#f44336}
  