<div class="container-fluid">
  <div class="body"></div>
  <div class="grad">
    <div class="logo">
      <img
        src="../../assets/image/LOGOTIPO VECTOR  NOBELTI 3.png"
        id="icon"
        alt="Sistema de Aleta Temprana"
        width="140"
        height="140"
      />
    </div>
    <div class="header">
      <div>
        Sistema de alerta <span><b>Temprana</b></span>
      </div>
    </div>

    <br />
    <div class="login">
      <form [formGroup]="formLogin">
        <input
          type="text"
          placeholder="Usuario"
          name="user"
          id="user"
          formControlName="user"
        /><br />
        <input
          type="password"
          placeholder="Contraseña"
          name="password"
          id="password"
          formControlName="password"
        />
        <br />
        <input type="button" value="Entrar" (click)="onClickLogin()" />
      </form>
    </div>
  </div>
</div>
