body{
  margin-top:20px;
  background:#FAFAFA;
}

.title{
  text-align: left; 
font-family: Arial Black; 
font-weight: bold; font-size: 40px; 
background: #131313; 
-webkit-background-clip: text; 
-moz-background-clip: text; 
background-clip: text; 
color: transparent; 
text-align: center;
}

.subtitle{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.order-card {
  color: #fff;
}

.bg-c-blue {
  background: linear-gradient(45deg,#70ff5d,#06d35c);
}

.bg-c-green {
  background: linear-gradient(45deg,#d7eb27,#dcb226);
}

.bg-c-yellow {
  background: linear-gradient(45deg,#8f0505,#f32828);
}



.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transition: transform .2s;
}

.card:hover{
  transform: scale(1.1);
}

.card .card-block {
  padding: 25px;
}

.order-card i {
  font-size: 26px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

