<ng-container>
  <div class="m-4">
    <div id="div1">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">PROYECTO ESB</th>
          <th scope="col">OPERACION</th>
          <th scope="col">INVOCACIONES</th>
          <th scope="col">EXITOSOS</th>
          <th scope="col">ERRORES</th>
          <th scope="col">%ERROR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let solicitud of solicitudes">
          <th scope="row">{{ solicitud.servicio }}</th>
          <td>{{ solicitud.operacion }}</td>
          <td>{{ solicitud.status.exitosos + solicitud.status.errores }}</td>
          <td>{{ solicitud.status.exitosos }}</td>
          <td>{{ solicitud.status.errores }}</td>
          <td>
            {{
              solicitud.status.errores + solicitud.status.exitosos
                ? (solicitud.status.errores /
                    (solicitud.status.exitosos + solicitud.status.errores)) *
                  100
                : 0
            }}%
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</ng-container>
