.title{
    text-align: left; 
  font-family: Arial Black; 
  font-weight: bold; font-size: 40px; 
  background: #131313; 
  -webkit-background-clip: text; 
  -moz-background-clip: text; 
  background-clip: text; 
  color: transparent; 
  text-align: center;
  }