<div *ngIf="rol == 'admin' || rol == 'demo'; else loggedOut">
    <hr />
    <div *ngIf="rol == 'admin'">
      <app-navbar></app-navbar>
    </div>
    <div *ngIf="rol == 'demo'">
      <app-navbar-user></app-navbar-user>
    </div>
<!------------------------------------->
<h1 class="title">Soporte</h1>
<!------------------------------------->
</div>
<ng-template  #loggedOut >
    <app-error404></app-error404>
</ng-template>
