<div class="area"></div>
<nav class="main-menu">
  <ul>
    <img
      src="../../assets/image/LOGOTIPO VECTOR  NOBELTI 3.png"
      id="icon"
      alt="Sistema de Aleta Temprana"
      class="logo"
    />
    <li>
      <a routerLink="/home">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text"> Dashboard </span>
      </a>
    </li>
    <li class="has-subnav">
      <a routerLink="/ultimas-solicitudes-historico">
        <i class="fa fa-clock-o fa-2x"></i>
        <span class="nav-text"> Solicitudes historicos </span>
      </a>
    </li>
    
  </ul>

  <ul class="logout">
    <li>
      <a href="/">
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text"> Cerrar sesión </span>
      </a>
    </li>
  </ul>
</nav>
