<div *ngIf="rol=='admin' || rol=='demo';  else loggedOut"> 

<hr />
<div *ngIf="rol=='admin'">
  <app-navbar></app-navbar>
</div>
<div *ngIf="rol=='demo'">
  <app-navbar-user></app-navbar-user>
</div>

<ng-container class="body"> 
  <div class="row">
    <div class="col-md-10">
      <h2>Estado Servidores</h2>
    </div>
    <div class="col-md-2">
     <!-- <label>Usuario: {{ user }}</label>-->
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-5" style="text-align: right">
          <label>Arquitectura</label><br/>
          <label>Vendor ID</label><br/>
          <label>Estado</label><br/>
          <label>Dirección IP</label><br/>
          <label>Sistema Operativo</label><br/>
          <label>Categoria</label><br/>
          <label>Vendor</label><br/>
          <label>Procesador</label><br/>
          <label>Cores</label><br/>
          <label>Memoria RAM</label><br/>
          <label>Almacenamiento</label><br/>
        </div>
        <div class="col-md-6" style="text-align: left">
          <label>{{ server.arch }}</label><br/>
          <label>{{ server.vendorId }}</label><br/>
          <label>{{ server.status }}</label><br/>
          <label>{{ server.ipAddress }}</label><br/>
          <label>{{ server.so }}</label><br/>
          <label>{{ server.type }}</label><br/>
          <label>{{ server.vendor }}</label><br/>
          <label>{{ server.cpu }}</label><br/>
          <label>{{ server.cores }}</label><br/>
          <label>{{ server.ram }}</label><br/>
          <label>{{ server.storage }}</label><br/>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="text-center">
        <div class="row">
          <div class="col-md-3">
            <canvas baseChart
                    [data]="doughnutChartData"
                    [type]="doughnutChartType">
            </canvas><br/>
            <label>RAM</label>
          </div>

          <div class="col-md-3">
            <canvas baseChart
                    [data]="doughnutChartData"
                    [type]="doughnutChartType">
            </canvas><br/>
            <label>CPU</label>
          </div>

          <div class="col-md-3">
            <canvas baseChart
                    [data]="doughnutChartData"
                    [type]="doughnutChartType">
            </canvas><br/>
            <label>HDD</label>
          </div>

          <div class="col-md-3">
            <canvas baseChart
                    [data]="doughnutChartData"
                    [type]="doughnutChartType">
            </canvas><br/>
            <label>Cache</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<br><br><br><br><br><br><br><br><br><br><br>


</div>
<ng-template  #loggedOut >
  <app-error404></app-error404>
</ng-template>