<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    !Disculpe, a ocurrido un error, Pagina solicitada no encontrada!
                </div>
                <div class="error-actions">
                    <a routerLink="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>Volver a Inicio </a>
                        <a routerLink="/" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contacto Soporte </a>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
    <br><br><br><br><br><br>
</div>
