<div *ngIf="rol == 'admin' || rol == 'demo'; else loggedOut">
  <hr />
  <div *ngIf="rol == 'admin'">
    <app-navbar></app-navbar>
  </div>
  <div *ngIf="rol == 'demo'">
    <app-navbar-user></app-navbar-user>
  </div>
<!------------------------------------->
  <div>
    <div>
      <h1 class="title">Sistema de Alerta Temprana</h1>
      <p class="subtitle">Últimas 24 hrs.</p>
    </div>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xl-4">
          <div class="card bg-c-blue order-card">
            <a type="button" routerLink="/requests" style="color: #fff" (click)="setEnv()">
              <div class="card-block">
                <h4 class="m-b-20">Servicios exitosos</h4>
                <h2 class="text-right">
                  <i class="fa fa-check-circle f-left"></i
                  ><span>{{ exitosos }}</span>
                </h2>
                <p class="m-b-0">
                  Total historico<span class="f-right">{{exitososHistorico}}</span>
                </p>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-4 col-xl-4">
          <div class="card bg-c-green order-card">
            <a type="button" routerLink="/requests" style="color: #fff" (click)="setEnv()">
              <div class="card-block">
                <h4 class="m-b-20">Total servicios ejecutados</h4>
                <h2 class="text-right">
                  <i class="fa fa-globe f-left"></i
                  ><span>{{ servicios }}</span>
                </h2>
                <p class="m-b-0">
                  Total historico<span class="f-right">{{serviciosHistorico}}</span>
                </p>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-4 col-xl-4">
          <div class="card bg-c-yellow order-card">
            <a type="button" routerLink="/requests" style="color: #fff" (click)="setEnv()">
              <div class="card-block">
                <h4 class="m-b-20">Servicios con error</h4>
                <h2 class="text-right">
                  <i class="fa fa-exclamation-triangle f-left"></i><span>{{ errores }}</span>
                </h2>
                <p class="m-b-0">
                  Total historico<span class="f-right">{{erroresHistorico}}</span>
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <app-tabla-ultimas-solicitudes></app-tabla-ultimas-solicitudes>
      </div>
    </div>
  
 </div>
<!------------------------------------->
</div>
<ng-template #loggedOut>
  <app-error404></app-error404>
</ng-template>
